<!DOCTYPE html>
<html>

<head>
    <title>Zoopla Home Price Prediction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{{url_for('static', filename = 'app.css')}}" rel="stylesheet">
</head>

<body>
    <div class="img"></div>
    <form class="form">
        <h2>Property Type</h2>
        <div>
            <select class="proptype" name="proptype" id="uiProptype">
                <label><b>Select the property type:</b></label>
                {% for proptype in proptypes %}
                <option value="{{proptype}}">{{proptype}}</option>"
                {% endfor %}
            </select>
        </div>

        <h2>Postcode</h2>
        <div>
            <select class="postcode" name="postcode" id="uiPostcodes">
                <label><b>Select the postcode:</b></label>
                {% for postcode in postcodes %}
                <option value="{{postcode}}">{{postcode}}</option>"
                {% endfor %}
            </select>
        </div>

        <h2>Bedrooms</h2>
        <div>
            <select class="bedrooms" name="bedrooms" id="uiBedrooms">
                <label><b>Select the number of bedrooms:</b></label>
                {% for bed in bedrooms %}
                <option value="{{bed}}">{{bed}}</option>"
                {% endfor %}
            </select>
        </div>
        <h2>Bathrooms</h2>
        <div>
            <select class="bathrooms" name="bathrooms" id="uiBathrooms">
                <label><b>Select the number of bathrooms:</b></label>
                {% for bath in bathrooms %}
                <option value="{{bath}}">{{bath}}</option>"
                {% endfor %}
            </select>
        </div>
        <h2>Reception</h2>
        <div>
            <select class="reception" name="reception" id="uiReception">
                <label><b>Select the number of reception:</b></label>
                {% for reception in receptions %}
                <option value="{{reception}}">{{reception}}</option>"
                {% endfor %}
            </select>
        </div>


        <form class="form">


            <button class="submit" onclick="onClickedEstimatePrice()" type="button">Estimate Price</button>
            <div id="uiEstimatedPrice" class="result">
                <h2></h2>
            </div>

            <script>
                function form_handler(event) {
                    event.preventDefault();
                }
            </script>


            <script>
                function onClickedEstimatePrice() {
                    document.querySelector('form').addEventListener("submit", form_handler);
                    var fd = new FormData(document.querySelector('form'))
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/predict', true);
                    document.getElementById("uiEstimatedPrice").innerHTML = "wait predicting price..";
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == XMLHttpRequest.DONE) {
                            document.getElementById("uiEstimatedPrice").innerHTML = "£" + xhr.responseText;
                        }
                    };
                    xhr.onload = function () { };
                    xhr.send(fd);

                }
            </script>




</body>

</html>